*{
  scroll-behavior: smooth;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav input {
  width: 500px;
  height: 50px;
  font-size: 25px;
  margin-right: 10px;
  border-radius: 10px;
}
.nav {
  position: relative;
}

.nav .search-icon {
  position: absolute;
  margin-left: -48px;
  margin-top: 14px;
  font-size: 27px;
}

.countries {
  width: 80%;
  margin: auto;
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.countries-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.countries-card > div {
  height: 50%;
    padding: 10px;
}

.countries-card > div :hover {
  transform: scale(1.2);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.countries-card img {
  transition: transform 0.5s ease;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.pagination {
 
  padding: 10px;
  margin: 35px 0;
  justify-content: center;
}


.pagination > span {
     padding: 15px 15px ;
      
       cursor: pointer;
}


.pagination_selected{
  background-color: rgba(178, 177, 177, 0.854);
    border-radius: 50%;
}
.pagination__disable{
    opacity: 0;
}


@media (max-width: 768px) {
  .nav input {
    width: 350px;
    font-size: 20px;
    padding: 5px;
  }

  .nav .search-icon {
    margin-left: -45px;
    margin-top: 17px;
    font-size: 26px;
  }

  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
  .pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination > span {
    padding: 15px 12px;

    cursor: pointer;
  }
}
@media (max-width: 480px) {
  .nav input {
    width: 300px;
    font-size: 20px;
  }

  .nav .search-icon {
    margin-left: -44px;
    margin-top: 18px;
    font-size: 24px;
  }

  .countries {
    grid-template-columns: repeat(1, 1fr);
  }
  .pagination {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
  }
  .pagination > span {
    padding: 15px 8px;

    cursor: pointer;
  }
}

.spinner {
  border: 10px solid #ccc;
  width: 50px;
  border-radius: 50%;
  margin:19px auto;
  align-items: center;
  height: 50px;
  border-top-color: #007bff;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
